body {
	background: url('../images/background.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header{
	background-color: grey;
	color:white;
	border: solid;
	border-width: 5px;
	margin-left: 35%;
	display: inline-block;
	margin-top: 50px;
	font-size: 40px;
	padding: 20px;
}
#start {
	margin-left: 35%;
	padding:20px;
	margin-top: 75px;
	background-color: grey;
	font-size: 100px;
}
.questions{
	background-color: #FFF8DC;
	display: block;
	border: solid;
	border-width: 5px;
	border-color: grey;
	margin: auto;
	padding:50px;
	width:40%;
	margin-top:20px;
}
.info{
	background-color: white;
	margin-left:35%;
	border: solid;
	border-width: 5px;
	border-style: thin;
	border-color: grey;
	display: inline-block;
	padding:100px;
	width:30%;
	margin-top:20px;
}
#info{
	
	font-size: 30px;
	
}
.btn {
	background-color: grey;
	border: solid;
	border-width: 5px;
	padding: 20px;
	font-size: 40px;
}
.btnChoice {
	background-color: grey;
	display: block;
	margin: auto;
	width: 100%;
	border: solid;
	border-width: 5px;
	padding: 40px;
	font-size: 30px;
}
#restart{
	margin-top:20px;
	background-color: grey;
	padding:10px;
	font-size: 70px;
}

#question {
	font-size: 30px;
	font-family: "Times New Roman", Serif, times;
}
#timerem{
	font-size: 25px;
}